#body-home {
    background-image: url("https://images.unsplash.com/photo-1502444330042-d1a1ddf9bb5b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.jumbotron {
    margin-top: 20px;
    color: white;
    background-color: #332c2f;
    font-family: 'Abril Fatface', cursive;
}

#body-survey {
background-color: #332c2f;
color: white;
font-family: 'Abril Fatface', cursive;
}